a{
  text-decoration: none;
}
.navbar{
  z-index: 1000;
}
.dLine{
  border-bottom: 1px dotted white;
}
.activelink{
  border-bottom: 1px solid black;
}
.icon-tabler-search{
  margin-left: -30px;
}
.searchInp{
  border-radius: 0px;
  background: #f3f0f0;
padding-right: 40px;
font-size: 13px;
}
ul {
  list-style-type: none;
}
.dropdown-toggle::after{
  display: none;
}
.usr-menu{
  right: 3px;
    top: 7px;
    width: 230px;
    background-color: black;
}
