footer{
  background-color: black;
}
ul{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  color: white;
}
.inp{
  background-color: black;
  padding-left: 14px;
  font-size: 13px;
}
.icon-tabler-send-2{
  margin-left: -38px;
}
