<app-navbar></app-navbar>


<div class="container mt-1">

  <router-outlet></router-outlet>


</div>
<footer class=" mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="py-4">

          <h4 class="text-white text-capitalize">exclusive</h4>
          <ul class="">
            <li  class="text-capitalize mt-3 fs-6">subscribe</li>
            <li class="mt-1"><small>Get 10% off your first order</small> </li>
            <li  class="mt-2">
              <input class="border inp py-2" type="email" name="" id="" placeholder="Enter your email">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-send-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z" /><path d="M6.5 12h14.5" /></svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="py-4">

          <h4 class="text-white text-capitalize">support</h4>
          <ul>
            <li class="mt-3">111Baraby,Dakhla,DH1515 Bangladish</li>
            <li>exclusive@gmail.com</li>
            <li>+8888-55555-99999</li>
          </ul>
          </div>
      </div>
      <div class="col-lg-2">
        <div class="py-4">

          <h4 class="text-white text-capitalize">account</h4>
          <ul>
            <li class="mt-3 text-capitalize">my account</li>
            <li class=" text-capitalize">login/register</li>
            <li class=" text-capitalize">cart</li>
            <li class=" text-capitalize">whistle</li>
            <li class=" text-capitalize">shop</li>
          </ul>
          </div>
      </div>
      <div class="col-lg-2">
        <div class="py-4">

          <h4 class="text-white text-capitalize">quick link</h4>
          <ul>
            <li class="mt-3 text-capitalize">privacy policy</li>
            <li class=" text-capitalize">terms of use</li>
            <li class="text-uppercase">faq</li>
            <li class=" text-capitalize">contact</li>

          </ul>
          </div>
      </div>
      <div class="col-lg-2">
        <div class="py-4">

          <h4 class="text-white text-capitalize">download app</h4>
          <small class="text-capitalize">save 3$ with app new user only</small>
          <div>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-qrcode"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /><path d="M7 17l0 .01" /><path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /><path d="M7 7l0 .01" /><path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /><path d="M17 7l0 .01" /><path d="M14 14l3 0" /><path d="M20 14l0 .01" /><path d="M14 14l0 3" /><path d="M14 20l3 0" /><path d="M17 17l3 0" /><path d="M20 17l0 3" /></svg>
          </div>
          </div>
    </div>
    </div>
  </div>
</footer>
