
      <div class="d-flex h-100 justify-content-center  flex-column ">
        <div class="w-100">
          <h4 class="fw-normal">Create an account</h4>
        <small class="mb-1 details">Enter your details below</small>
        </div>
        <form id="signup" [formGroup]="myForm" (ngSubmit)="submit()">
          <div class="mt-4">

            <input type="text" name="name" id="mame" placeholder="Name"
             class="form-control" formControlName="name"
             [class.is-invalid]="
             formControlls['name'].invalid && formControlls['name'].touched
           " />
           <ng-container
           *ngIf="
             formControlls['name'].invalid &&
             formControlls['name'].touched &&
             formControlls['name'].errors
           "
         >
           <small
             class="text-danger"
             *ngIf="formControlls['name'].errors['required']"
             >name is required
           </small>
           <small
             class="text-danger"
             *ngIf="formControlls['name'].errors['pattern']"
             >name must be only letters
           </small>
           <small
           class="text-danger"
           *ngIf="formControlls['name'].errors['minlength']"
           >name must be  more than letters
         </small>
         </ng-container>
          </div>

          <div class="">

            <input
              type="email"
              class="form-control "
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Email or Phone Number"
              formControlName="email"
              [class.is-invalid]="
             formControlls['email'].invalid && formControlls['email'].touched

             "
            />
            <ng-container
            *ngIf="
              formControlls['email'].invalid &&
              formControlls['email'].touched
            "
          >
            <small
              class="text-danger"
      *ngIf="formControlls['email'].invalid && formControlls['email'].touched&& formControlls['errors']"

              >Email is required
            </small>
            <small
            class="text-danger"
            *ngIf="formControlls['email'].errors['email']"
            >email must be  contains @
          </small>
          </ng-container>
          </div>

          <div>

            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="password"
              formControlName="password"
              [class.is-invalid]="
              formControlls['password'].invalid && formControlls['password'].touched
            "
            />
            <ng-container
            *ngIf="
              formControlls['password'].invalid &&
              formControlls['password'].touched
            "
          >
            <small
              class="text-danger"
      *ngIf="formControlls['password'].invalid && formControlls['password'].touched"

              >password is required
            </small>

          </ng-container>
          </div>

          <div class="w-100">
            <button
              type="submit"
              class="btn btn-danger w-100 mt-2 text-capitalize"
            >
              create account
            </button>
            <button type="button" class="details btn btn-outline-secondary w-100 mt-3">
              Sign up with Google
            </button>
          </div>
          <div class="mt-2 d-flex justify-content-between px-4">
            <small>Already have account?</small>
            <a href="" class="text-dark" [routerLink]="['/auth/login']">log in</a>
          </div>
        </form>
      </div>


